#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner{
    max-height: 40em !important;
    padding: 20px;
    margin: 0;
}

@media (max-width: 640px){
    #menu li > a{
        font-size: 15px;
    }

    #menu form > button{
        font-size: 15px;
    }

    .carousel-inner{
        max-height: 24em !important;
        padding: 10px;
    }
}